/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */

// FIXME: fix color variables when design be ready and text size properties
html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--text-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: vh(100);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

ul,
li,
body,
p {
  color: var(--col-text-main);
}

body {
  background-color: var(--col-background-main);
  display: flex;
  flex: 1;
  flex-direction: column;

  ul,
  li {
    list-style-type: none;
  }
}

input,
select,
textarea {
  background: var(--col-background-main);
  color: var(--col-text-main);
  font-family: var(--text-font-family);
  font-size: to-rem(16);
  font-weight: 400;
}

body,
span,
p,
a {
  font-size: to-rem(16);
}

button {
  -webkit-appearance: none;
  background-color: var(--col-background-main);
  border: none;
  border-radius: to-rem(52);
  color: var(--col-text-light);
  cursor: pointer;
  font-family: var(--text-font-family);
  font-size: to-rem(16);
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  user-select: none;
  width: auto;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

p {
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--col-text-main);
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: to-rem(24);
}

h2 {
  font-size: to-rem(20);
}

h3 {
  font-size: to-rem(18);
}

h4 {
  font-size: to-rem(16);
}

h5 {
  font-size: to-rem(14);
}

a {
  color: var(--col-text-light);
  font-size: to-rem(14);
  font-weight: 600;
  line-height: 1;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
