/* stylelint-disable scss/selector-no-redundant-nesting-selector */
/* stylelint-disable no-duplicate-selectors */
@import 'colors';

:root,
:before,
:after {
  /* Color variables */
  & {
    --col-background-light: #{$col-background-light};
    --col-background-main: #{$col-background-main};
    --col-background-dark: #{$col-background-dark};
    --col-background-light-rgb: #{$col-background-light-rgb};
    --col-background-main-rgb: #{$col-background-main-rgb};
    --col-background-dark-rgb: #{$col-background-dark-rgb};
    --col-error-light: #{$col-error-light};
    --col-error-main: #{$col-error-main};
    --col-error-dark: #{$col-error-dark};
    --col-error-light-rgb: #{$col-error-light-rgb};
    --col-error-main-rgb: #{$col-error-main-rgb};
    --col-error-dark-rgb: #{$col-error-dark-rgb};
    --col-warning-light: #{$col-warning-light};
    --col-warning-main: #{$col-warning-main};
    --col-warning-right: #{$col-warning-right};
    --col-warning-light-rgb: #{$col-warning-light-rgb};
    --col-warning-main-rgb: #{$col-warning-main-rgb};
    --col-warning-right-rgb: #{$col-warning-right-rgb};
    --col-info-light: #{$col-info-light};
    --col-info-main: #{$col-info-main};
    --col-info-dark: #{$col-info-dark};
    --col-info-light-rgb: #{$col-info-light-rgb};
    --col-info-main-rgb: #{$col-info-main-rgb};
    --col-info-dark-rgb: #{$col-info-dark-rgb};
    --col-success-light: #{$col-success-light};
    --col-success-main: #{$col-success-main};
    --col-success-dark: #{$col-success-dark};
    --col-success-light-rgb: #{$col-success-light-rgb};
    --col-success-main-rgb: #{$col-success-main-rgb};
    --col-success-dark-rgb: #{$col-success-dark-rgb};
    --col-text-light: #{$col-text-light};
    --col-text-main: #{$col-text-main};
    --col-text-dark: #{$col-text-dark};
    --col-text-light-rgb: #{$col-text-light-rgb};
    --col-text-main-rgb: #{$col-text-main-rgb};
    --col-text-dark-rgb: #{$col-text-dark-rgb};
  }

  /* Spacing variables */
  & {
    --spacing-xxs: to-rem(2);
    --spacing-xs: to-rem(4);
    --spacing-s: to-rem(8);
    --spacing-base: to-rem(16);
    --spacing-m: to-rem(24);
    --spacing-l: to-rem(36);
    --spacing-xl: to-rem(48);
    --spacing-xxl: to-rem(72);
    --spacing-3xl: to-rem(96);
    --spacing-4xl: to-rem(136);
  }

  /* Text variables */
  & {
    --text-font-family: 'Nunito Sans', -apple-system, 'BlinkMacSystemFont',
      'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell',
      'Helvetica Neue', sans-serif;
  }
}
/* stylelint-enable scss/selector-no-redundant-nesting-selector */
/* stylelint-enable no-duplicate-selectors */
